@inherits LayoutComponentBase

<PageTitle>TPIE</PageTitle>

<div class="page">
    <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Dark"
         ThemeContrast="ThemeContrast.Dark">
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="#home">Home</BarLink>
                </BarItem>
            </BarStart>
        </BarMenu>
    </Bar>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>