@page "/"
<PageTitle>Index</PageTitle>


<Card>
    <BulmaCardHeader Text="Index"></BulmaCardHeader>
    <CardBody>
        <h1>Hello, world!</h1>

        Welcome to your new app.

        How is Blazor working for you?
    </CardBody>
</Card>
